:root {
    --primary-background: #FFFFFF;
    --secondary-background: #EEF0F4;
    --foreground-color: #662C92;
    --icons-color: #F3D47A;
    --text-color: #212121;
    --shadow: -1px 9px 15px -8px rgba(0,0,0,0.75);
}

.container {
    width: 85%;
    margin: 0 auto;
}

.mg-blk-3 {
    margin-block: 3rem;
}

.res {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.filter {
    flex: 0 0 25vw;
}

.filter label {
    font-size: 1rem;
    display: block;
    margin: 1rem 0;
}

.filter select {
    border: 1px solid hsl(0, 0%, 80%);
    font-family: inherit;
    width: 60%;
}

.filter input[type="range"] {
    direction: ltr;
    width: 60%;
}

.filter .price-range {
    font-size: 1rem;
}

.res .res-card {
    background: var(--primary-background);
    box-shadow: var(--shadow);
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 0 0 25vw;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-block: 1rem;
}


.card-img img {
    max-width: 100%;
}

.card-img a {
    position: relative;
}

.res-card h2 {
    padding: 0.5rem;
}

.card-price {
    padding: 0 0.5rem 1rem;
}

.card-img a > .c-label {
    position: absolute;
    top: 0;
    padding: 0.3rem 0.5rem;
    opacity: 0.8;
}

.popular {
    background: var(--foreground-color);
    color: var(--primary-background);
}

.off {
    background: var(--icons-color);
    color: var(--text-color);
}

.course-header {
    position: relative;
    text-align: center;
}

.course-header img {
    max-width: 45vw;
}

.info-card {
    position: absolute;
    background: #FFFFFF;
    top: 5%;
    right: 25%;
}

.info-card h2 {
    padding: 0.5rem;
}

.info-card .price {
    padding: 0 0.5rem;
    font-size: 0.8rem;
}

.info-card .buy-btn {
    font-size: 0.8rem;
    margin: 0.5rem;
    text-align: center;
}

.info-card .buy-btn a {
    display: block;
    background: var(--foreground-color);
    color: var(--icons-color);
    padding: 0.5rem;
    transition: 0.3s ease-in-out;
}

.info-card .buy-btn a:hover {
    background: var(--icons-color);
    color: var(--foreground-color);
}

.text-content {
    padding: 1rem 0;
}

.text-content h2, .text-content h3 {
    font-size: 1.5rem;
    color: var(--foreground-color);
    padding: 0.5rem 0;
}

.text-content p, .text-content ul {
    font-size: 0.85rem;
}

.text-content ul {
    list-style: disc;
}

.about-teacher .content {
    align-items: center;
    gap: 2rem;
}

.content img {
    width: clamp(10rem, 10rem - 5vw, 5rem);
}

.no-comment {
    text-align: center;
}

.no-comment h4 {
    font-size: 1.5rem;
}

.no-comment div {
    font-size: 1rem;
}

.comment-btn a {
    background: var(--foreground-color);
    color: var(--icons-color);
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}