@font-face {
	font-family: 'Yekan';
	src: url( './fonts/Yekan.eot' );
	src: url( './fonts/Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
		url( './fonts/Yekan.woff2' ) format( 'woff2' ),
		url( './fonts/Yekan.woff' ) format( 'woff' ),
		url( './fonts/Yekan.ttf' ) format( 'truetype' ),
		url( './fonts/Yekan.svg#Yekan' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

html {
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-size: 62.5%;
    color: var(--text-color);
    font-family: "Yekan",Arial, Helvetica, sans-serif;
}

:root {
    --primary-background: #FFFFFF;
    --secondary-background: #EEF0F4;
    --foreground-color: #662C92;
    --icons-color: #F3D47A;
    --text-color: #212121;
}

a, span {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.25s ease-in-out;
}

ul {
    list-style: none;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--foreground-color);
    color: var(--secondary-background);
    padding: 0.5rem 3rem;
    font-size: 1rem;
}

.top-bar-col {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.icon {
    color: var(--icons-color);
}

.social-icons ul {
    display: flex;
    font-size: 1.3rem;
    gap: 1rem;
}

#header a:hover {
    color: var(--icons-color);
}