@font-face {
	font-family: 'Yekan';
	src: url( './fonts/Yekan.eot' );
	src: url( './fonts/Yekan.eot?#iefix' ) format( 'embedded-opentype' ),
		url( './fonts/Yekan.woff2' ) format( 'woff2' ),
		url( './fonts/Yekan.woff' ) format( 'woff' ),
		url( './fonts/Yekan.ttf' ) format( 'truetype' ),
		url( './fonts/Yekan.svg#Yekan' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;

}

body {
    direction: rtl;
    font-size: 62.5%;
    color: var(--text-color);
    font-family: "Yekan",Arial, Helvetica, sans-serif;
}

:root {
    --primary-background: #FFFFFF;
    --secondary-background: #EEF0F4;
    --foreground-color: #662C92;
    --icons-color: #F3D47A;
    --text-color: #212121;
    --shadow: -1px 9px 15px -8px rgba(0,0,0,0.75);
}

a, span {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.25s ease-in-out;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2rem;
}

input {
    font-family: inherit;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--foreground-color);
    color: var(--secondary-background);
    padding: 0.5rem 3rem;
    font-size: 1rem;
}

.top-bar-col {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.icon {
    color: var(--icons-color);
}

.social-icons ul {
    display: flex;
    font-size: 1.3rem;
    gap: 1rem;
}

.social-icons i {
    transition: 0.3s ease-in-out;
}

.social-icons i:hover {
    color: #fff ;
}

.top-bar a:hover {
    color: var(--icons-color);
}

.main-nav {
    position: sticky;
    background: var(--primary-background);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    align-items: baseline;
    top: 0;
    z-index: 100;
}

.logo img {
    max-width: 12vw;
}

.menu {
    display: flex;
    font-size: 1rem;
    gap: 2rem;
}

.menu a {
    transition: 0.2s ease-in-out;
}

.menu a:hover {
    color: hsl(0, 0%, 56%);
}

.menu i {
    font-size: 2rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    max-width: 30vw;
    border-radius: 0 0.3rem 0.3rem 0;
}

.search input, .search button {
    border: 1px solid var(--icons-color);
    transition: 0.25s ease-in-out;
    padding: 0.2rem 1rem;
}

.search button {
    background: var(--icons-color);
    color: var(--foreground-color);
    cursor: pointer;
    border-radius: 0.3rem 0 0 0.3rem;
}

.search button:hover {
    background: hsl(45, 83%, 80%);
    border: 1px solid hsl(45, 83%, 80%);
}

.search input:focus {
    background: hsl(45, 83%, 80%);
    border: 1px solid hsl(45, 83%, 80%);
}

.banner {
    display: flex;
    justify-content: center;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.banner {
    background: var(--secondary-background);
    padding: 2rem 0;
}

.banner .banner-text {
    max-width: 45vw;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}

.banner-text h2 {
    font-size: 2.5rem;
}

.banner-text p {
    font-size: 1rem;
}

.banner .banner-text span {
    color: var(--foreground-color);
    font-weight: bold;
    font-size: 1rem;
}

.courses-btn a{
    background: var(--foreground-color);
    color: var(--primary-background);
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 0.3rem;
}

.courses-btn a:hover {
    background: var(--icons-color);
    color: var(--foreground-color);
}

.banner-img {
    position: relative;
}

.banner-img img {
    max-width: 30vw;
}

.feedback {
    position: absolute;
    background: #FFFFFF;
    bottom: 15%;
    right: -35%;
    padding: 1rem;
    border-radius: 0.6rem;;
}

.star-logo {
    position: absolute;
    font-size: 1.5rem;
    padding: 0.5rem;
    background: var(--icons-color);
    color: var(--foreground-color);
    border-radius: 50%;
    top: -20%;
    right: -5%;
}

.score {
    font-size: 0.7rem;
    text-align: center;
}

.user-feedback {
    font-size: 1rem;
    font-weight: bold;
}

.suggested-courses {
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.course-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 1rem;
    background: var(--secondary-background);
}

.course-text span {
    color: var(--foreground-color);
    font-weight: bold;
    font-size: 0.8rem;
}

.course-text h2 {
    font-size: 1.5rem;
}


.course-img img {
    max-width: 100%;
}

.content-slider {
    padding: 2rem;
    background: var(--secondary-background);
}

.slider-container {
    padding: 1rem 0;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
}


.card {
    background: var(--primary-background);
    padding: 1rem 0.5rem;
    border-radius: 1rem 0 1rem 0;
    box-shadow: -1px 9px 15px -8px rgba(0,0,0,0.75);
}

.card img {
    max-width: 20vw;
}

.card h2 {
    font-size: 1.1rem;
    overflow: hidden;
}

.card .slider-price {
    font-size: 0.8rem;
    color: var(--foreground-color);
    font-weight: bold;
}

.why-card {
    max-width: 20vw;
    padding: 1rem;
    text-align: center;
}

.why-card img {
    max-width: 100%;
}

.why-card h3 {
    font-size: 1rem;
}

.why-card p {
    font-size: 0.8rem;
}

.col {
    flex-basis: 40%;
}

.col h2 {
    font-size: 1.5rem;;
}

.col p{
    font-size: 0.8rem;
}

.col > div {
    font-size: 0.8rem;
    cursor: pointer;
}

.col > div > span {
    font-size: 1.5rem;
}

.about-faq {
    margin: 3rem 0;
}
.question {
	position: relative;
}

.ans {
	display: none;
}

.faq-active > .ans{
	display: block !important;
	animation-name: answer-animation;
	animation-duration: 0.6s;
	position: absolute;
	top: 85%;
}

@keyframes answer-animation{
	0% {
		position: absolute;
		top: 0;
		opacity: 0;
	}
	10% {
		top: 5%;
		opacity: 0.25;
	}
	20% {
		top: 10%;
		opacity: 0.3;
	}
	30% {
		top: 20%;
		opacity: 0.5;
	}
	40% {
		top: 31%;
		opacity: 0.6;
	}
	50% {
		top: 50%;
		opacity: 0.8;
	}
	60% {
		top: 70%;
		opacity: 0.9
	}
	70% {
		top: 85%;
		opacity: 1;
	}
	80%{
		top: 85%;
		opacity: 1;
	}
	90% {
		top: 85%;
		opacity: 1;
	}
	100% {
		top: 85%;
		opacity: 1;
        position: static;
    }

}

.instagram-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-img {
    max-width: 85vw;
}

.instagram-img img {
    max-width: 85vw;
}

.instagram-img .content {
    position: absolute;
    left: 10%;
    bottom: 20%;
    text-align: center;
}

.footer {
    margin: 3rem 0 0;
}

.columns {
    justify-content: space-between;
    gap: 3rem;
}

.column {
    flex: 1 1 15vw;
    font-size: 0.925rem;
}

.column h2 {
    font-size: 1.7rem;
}

.copyright {
    margin: 2rem 0 0;
    background: var(--text-color);
    color: var(--primary-background);
    padding: 1rem 0;
    font-size: 0.7rem;
}

.align-center {
    align-items: center;
}

.copyright .gotop {
    cursor: pointer;
    background: var(--foreground-color);
    color: var(--icons-color);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out;
}

.copyright .gotop:hover {
    background: var(--icons-color);
    color: var(--primary-background);
}

.menu-icon {
    display: none;
}

@media (max-width: 1110px) {
    .top-bar div {
        font-size: 0.75rem;
    }
    .menu-icon {
        display: block;
    }
    
    .menu {
        display: none;
    }
    
    .search {
        display: none;
    }

    .social-icons {
        display: none;
    }

    .feedback {
        right: 0;
        bottom: 0%;
    }

    .instagram-img .content {
        left: 0;
    }

    .courses-btn {
        text-align: center;
    }

    .suggested-courses {
        flex-direction: column;
    }

    .why-card {
        max-width: 65vw;
    }

    .space-between {
        justify-content: space-evenly;
    }

    .card img {
        max-width: 33vw;
    }
    
    /* Font sizes fix */
    h1 {
        font-size: 1.5rem !important;
    }

    h2 {
        font-size: 1.3rem !important;
    }
    
    p {
        font-size: 0.8rem !important;
    }

    .feedback div {
        font-size: 0.7rem;
    }

    .suggested-courses h2 {
        font-size: 1.3rem;
    }

    .card h2 {
        font-size: 1rem !important;
    }
}

@media (max-width: 715px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }

    .banner-text {
        order: 2;
    }

    .banner-img {
        order: 1;
    }

    .instagram-img {
        flex-direction: column;
    }

    .instagram-img .content {
        position: static;
        margin-top: 1rem;
    }

    .card img {
        max-width: 50vw;
    }

    .course-card {
        flex-direction: column;
    }

    .course-card .course-text {
        order: 2;
    }
    
    .course-card .course-img {
        order: 1;
    }
}

@media (max-width: 450px) {
    .top-bar {
        display: none;
    }

    .container {
        width: 95%;
    }

    .banner-img {
        display: none;
    }

    .banner-text {
        max-width: 60vw;
    }
}